:root {
  --primary-s-color: #e67e22;
  --secondary-s-color: #cf711f;
  --optional-s-color1: #fdf2e9;
  --optional-s-color2: #fae5d3;
  --primary-color: #555;
  --secondary-color: #333;
  --optional-color: #45260a;
}
html {
  font-size: 80%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(230, 125, 34, 0.5);
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  line-height: 1;
}
