/*Header style start*/
header {
  background-color: var(--optional-s-color1);
}
.container {
  max-width: 180rem;
  margin: 0 auto;
}
.logo {
  height: 2.2rem;
  cursor: pointer;
}
.nav-menu {
  display: flex;
  height: 9.6rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.nav-items:link,
.nav-items:visited {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}
.nav-items:hover,
.nav-items:active {
  color: var(--secondary-s-color);
}
.nav-items-btn:link,
.nav-items-btn:visited {
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--primary-s-color);
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}
.nav-items-btn:hover,
.nav-items-btn:active {
  background-color: var(--secondary-s-color);
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 4.8rem 3.2rem 9.6rem;
  gap: 9.6rem;
}
.hero-img {
  width: 100%;
}
.hero-heading {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  color: var(--secondary-color);
  font-weight: 700;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 7.2rem;
}
.hero-btns {
  display: block;
  margin-bottom: 9.6rem;
}
.hero-btn-1:link,
.hero-btn-1:visited {
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--primary-s-color);
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.3s;
  margin-right: 1.6rem;
}
.hero-btn-1:hover,
.hero-btn-1:active {
  background-color: var(--secondary-s-color);
}
.hero-btn-2:link,
.hero-btn-2:visited {
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: var(--secondary-color);
  background-color: #fff;
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.3s;
}
.hero-btn-2:hover,
.hero-btn-2:active {
  background-color: var(--optional-s-color1);
  box-shadow: inset 0 0 0 3px #fff;
}
.meals-delivered-content {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.customer-imgs {
  display: flex;
}
.customer-img {
  height: 4.8rem;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: -1.6rem;
}
.meals-delivered-description {
  font-size: 1.8rem;
  font-weight: 600;
}
.meals-delivered-description > span {
  color: var(--secondary-s-color);
  font-weight: 700;
}
/*Header style end*/

/*Brands style start*/
.brands-section {
  padding: 4.8rem 4.8rem 3.2rem;
}
.brands-section-title {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  color: #888;
}
.brands-imgs {
  display: flex;
  justify-content: space-around;
}
.brands-img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/*Brands style end*/
/*How-it-works style start*/
.how-section {
  padding: 9.6rem 4.8rem 9.6rem;
}
.subheading {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  color: var(--secondary-s-color);
  margin-bottom: 1.6rem;
}
.secondary-heading {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: var(--secondary-color);
  margin-bottom: 9.6rem;
}
.howsection-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  align-items: center;
}
.big-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.how-subheader {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.how-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.how-img {
  width: 35%;
}
.how-imgbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.how-imgbox::before,
.how-imgbox::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.how-imgbox:before {
  width: 60%;
  padding-bottom: 60%;
  background-color: var(--optional-s-color1);
  z-index: -2;
}
.how-imgbox:after {
  width: 45%;
  padding-bottom: 45%;
  background-color: var(--optional-s-color2);
  z-index: -1;
}
/*How-it-works style end*/

/*Meals style start*/
.meals-section {
  padding: 9.6rem 4.8rem 9.6rem;
}
.meals-header {
  text-align: center;
}
.meal-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.4rem;
  margin-bottom: 4.8rem;
}
.meal {
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transition: all 0.4s;
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meal-img {
  width: 100%;
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem;
}
.meal-tags {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}
.tag {
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--secondary-color);
  border-radius: 100px;
}
.tag-green {
  background-color: #51cf66;
}
.tag-bgreen {
  background-color: #94d82d;
}
.tag-yellow {
  background-color: #ffd43b;
}
.card-header {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--secondary-color);
  margin-bottom: 3.2rem;
}
.card-ulist {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card-list {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.card-list > strong {
  font-weight: 500;
}
.cs-icon {
  font-size: 2.4rem;
  color: var(--primary-s-color);
}
.diet-header {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: var(--secondary-color);
  font-weight: 700;
}
.diet-ulist {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.diet-ulist > li {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1.6rem;
  line-height: 1.2;
}
.diet-icon {
  font-size: 3rem;
  color: var(--primary-s-color);
}
.all-meals {
  text-align: center;
}
.all-meals-btn:link,
.all-meals-btn:visited {
  font-size: 1.8rem;
  color: var(--primary-s-color);
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
}
.all-meals-btn:hover,
.all-meals-btn:active {
  color: var(--secondary-s-color);
  border-bottom: 1px solid transparent;
}
/*Meals style end*/

/*Testimonials style start*/
.testimonials {
  padding: 9.6rem 4.8rem 9.6rem;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonial-bg {
  background-color: var(--optional-s-color1);
}
.testimonials-content {
  padding-right: 7.2rem;
}
.four-testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.testimonials-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item-img {
  width: 100%;
  transition: all 0.3s;
}
.gallery-item-img:hover {
  transform: scale(1.1);
}
/*Testimonials style end*/

/*Pricing style start*/
.pricing {
  padding: 9.6rem 4.8rem 9.6rem;
}
.price-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.5rem;
  margin-bottom: 4.8rem;
}
.price-card {
  border-radius: 11px;
  width: 70%;
  padding: 4.6rem;
}
.starter-card {
  border: 2px solid #fdf2e9;
  justify-self: end;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-s-color);
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: var(--secondary-color);
  margin-bottom: 1.6rem;
}
.plan-price > span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}
.plan-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.plan-list-item {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1.6rem;
  line-height: 1.2;
}
.plan-list-item > span > strong {
  font-weight: 500;
}
.pricing-btns {
  text-align: center;
  margin-top: 5.2rem;
}
.pricing-btn:link,
.pricing-btn:visited {
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--primary-s-color);
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.3s;
  margin-right: 1.6rem;
}
.pricing-btn:hover,
.pricing-btn:active {
  background-color: var(--secondary-s-color);
}
.complete-card {
  background-color: var(--optional-s-color1);
  position: relative;
  overflow: hidden;
}
.complete-card::after {
  content: "Best Value";
  text-transform: uppercase;
  position: absolute;
  top: 6%;
  right: -18%;
  transform: rotate(45deg);
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 8rem;
  color: var(--secondary-color);
  background-color: #ffd43b;
}
.four-header {
  margin: 4.8rem 0 9.6rem;
}
.four-header > p {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
}
.four-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 6.4rem;
}
.four-icon {
  color: var(--primary-s-color);
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--optional-s-color1);
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}
.four-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 1.6rem;
}
.four-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
/*Pricing style end*/

/*Newsletter style start*/
.newsletter {
  padding: 4.8rem 4.8rem 12.8rem;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}
.cta-box {
  padding: 4.8rem 6.4rem 6.4rem;
}
.cta-title {
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.2;
  color: #45260a;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
  color: #45260a;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 3.2rem;
}
.cta-form > div > label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #45260a;
}
.cta-form > div > input,
.cta-form > div > select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  color: #45260a;
  background-color: var(--optional-s-color1);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-form {
  align-self: end;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem;
  border: none;
  border-radius: 9px;
  color: var(--optional-s-color1);
  background-color: #45260a;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-form:hover {
  color: var(--primary-color);
  background-color: #fff;
}
/*Newsletter style end*/

/*Footer style start*/
footer {
  border-top: 1px solid #eee;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 6.4rem;
  padding: 9.6rem 3.2rem;
}
.footer-1 {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  margin-bottom: 3.2rem;
}
.footer-logo > img {
  height: 2.2rem;
}
.social-section {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.footer-links:link,
.footer-links:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-links:hover,
.footer-links:active {
  color: var(--primary-color);
}
.footer-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
/*Footer style end*/
